<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, ">
    <title>¡Gracias!</title>
    <link href="../../../../../../Desktop/formulario/style.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="/media/me.png">
    <script src="../../../../../../Desktop/formulario/scripts.js"></script>
</head>

<body>
    <h1 class="thanks-text">¡Gracias por tu tiempo!</h1>
    <img src="../../../../../../Desktop/formulario/media/toothless-dancing.gif" class="gif"></img>
    <n class="invite">Echale un vistazo a mis redes:</n>
    <div class="image-container">
        <a href="https://www.linkedin.com/in/daniel-herrera-urbano-a1170428b/?trk=opento_sprofile_details"
            target="_blank"><img src="../../../../../../Desktop/formulario/media/linkedn.png" class="icon" id="icon-l"></img></a>
        <a href="https://github.com/daniherurb" target="_blank"><img src="../../../../../../Desktop/formulario/media/github.png" class="icon"></img></a>
        <img src="../../../../../../Desktop/formulario/media/x.jpg" class="icon" id="icon-x" onmouseover="dissapearX()"></img>
        <a href="https://x.com/adictware" target="_blank" class="icon-hover">
            <img src="../../../../../../Desktop/formulario/media/twitter.png" class="icon" id="icon-t" onmouseleave="appearX()"></img>
        </a>
    </div>
</body>