<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, ">
    <title>¡Gracias!</title>
    <link rel="icon" type="image/x-icon" th:href="@{/media/me.png}">
    <link th:href="@{/style.css}" rel="stylesheet" />
    <script  th:src="@{/scripts.css}"></script>
</head>

<body>
    <h1 class="thanks-text">¡Gracias por tu tiempo!</h1>
    <img th:src="@{/media/toothless-dancing.gif}" class="gif"></img>
    <b class="invite">Echale un vistazo a mis redes:</b>
    <div class="image-container">
        <a href="https://www.linkedin.com/in/daniel-herrera-urbano-a1170428b/?trk=opento_sprofile_details"
            target="_blank"><img th:src="@{/media/linkedn.png}" class="icon" id="icon-l"></a>
        <a href="https://github.com/daniherurb" target="_blank"><img th:src="@{/media/github.png}" class="icon"></a>
        <img th:src="@{/media/x.jpg}" class="icon" id="icon-x" onmouseover="dissapearX()">
        <a href="https://x.com/adictware" target="_blank" class="icon-hover">
            < th:src="@{/media/twitter.png}" class="icon" id="icon-t" onmouseleave="appearX()">
        </a>
    </div>
</body>