<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, ">
    <title>Dani's Survey</title>
    <link rel="icon" type="image/x-icon" th:href="@{/media/me.png}">
    <link th:href="@{/style.css}" rel="stylesheet" />
    <script  th:src="@{/scripts.js}"></script>
</head>

<body>
    <div class="square">
        <h1 class="title"> <u class="title-underline">Survey</u></h1>
        <p class="description"> Hi! I'm Daniel, and I'm a 19 year old software engineering student.
            Here you'll find a questionnaire that I've done not only to improve my web development skills,
            but also so that I could carry out a study on quite an interesting topic for me: music and streaming
            platforms. Enjoy!
        </p>

        <form class="form" id="musicForm">

            <div class="text-input-box">
                <p class="question">1) Gender (optional) </p>
                <div class="radio-box">
                    <label class="custom-radio" for="male">
                        <input type="radio" name="question1" value="Male" id="male" class="circle-radio">
                        <span class="radio-mark"></span>
                        Male
                    </label>
                    <label class="custom-radio" for="female">
                        <input type="radio" name="question1" value="Female" id="female" class="circle-radio">
                        <span class="radio-mark"></span>
                        Female
                    </label>
                    <label class="custom-radio" for="non-binary">
                        <input type="radio" name="question1" value="Non-binary" id="non-binary" class="circle-radio">
                        <span class="radio-mark"></span>
                        Non-binary
                    </label>
                    <label class="custom-radio" for="other-gender">
                        <input type="radio" name="question1" value="Other" id="other-gender" class="circle-radio">
                        <span class="radio-mark"></span>
                        Other
                    </label>
                </div>
            </div>

            <div class="select-input-box">
                <p class="question"> 2) Select your age interval (optional) </p>
                <select name="question2" class="combobox">
                    <option disabled selected>Select an option</option>
                    <option value="1 interval"> - 18 </option>
                    <option value="2 interval"> 18 - 24 </option>
                    <option value="3 interval"> 25 - 34 </option>
                    <option value="4 interval"> 35 - 44 </option>
                    <option value="5 interval"> 45 - 54 </option>
                    <option value="6 interval"> 55 - 64 </option>
                    <option value="7 interval"> 65 + </option>
                </select>
            </div>

            <div class="range-input-box">
                <p class="question"> 3) On a scale from 0 to 10, how much do you listen to music on a daily basis? </p>
                <div class="range-box">
                    <input type="range" min="0" max="10" step="1" class="slider" id="range1" name="question3">
                    <label class="value" id="value1" for="range1"></label>
                </div>
                <nu class="warning" id="warning3" hidden> This field is required </nu>
            </div>

            <div class="select-input-box">
                <p class="question"> 4) What genre of music do you listen to the most? </p>
                <select name="question4" class="combobox" required>
                    <option disabled selected>Select an option</option>
                    <option value="pop"> Pop </option>
                    <option value="rock"> Rock </option>
                    <option value="trap"> Rap </option>
                    <option value="alternative"> Alternative </option>
                    <option value="hip-hop"> Hip-Hop </option>
                    <option value="classic"> Classic </option>
                    <option value="metal"> Metal </option>
                    <option value="r&b"> R&B </option>
                    <option value="electronic"> Electronic </option>
                    <option value="jazz"> Jazz </option>
                    <option value="indie"> Indie </option>
                    <option value="reggaeton"> Reggaeton </option>
                    <option value="other-genre"> Other </option>
                </select>
                <nu class="warning" id="warning4" hidden> This field is required </nu>
            </div>

            <div class="text-input-box">
                <p class="question"> 5) Do you use music streaming platforms? </p>
                <div class="radio-box">
                    <label class="custom-radio">
                        <input type="radio" name="question5" value="yes" class="circle-radio">
                        <span class="radio-mark"></span>
                        Yes
                    </label>
                    <label class="custom-radio">
                        <input type="radio" name="question5" value="no" class="circle-radio">
                        <span class="radio-mark"></span>
                        No
                    </label>
                </div>
                <nu class="warning" id="warning5" hidden> This field is required </nu>
            </div>

            <div class="select-input-box">
                <p class="question"> 6) Which do you use most? </p>
                <select name="question6" class="combobox">
                    <option disabled selected>Select an option</option>
                    <option value="spotify"> Spotify </option>
                    <option value="apple-music"> Apple Music </option>
                    <option value="amazon-music"> Amazon Music </option>
                    <option value="youtube"> Youtube </option>
                    <option value="tidal"> Tidal </option>
                    <option value="deezer"> Deezer </option>
                    <option value="soundcloud"> SoundCloud </option>
                    <option value="other"> Other </option>
                </select>
                <nu class="warning" id="warning6" hidden> This field is required </nu>
            </div>

            <div class="text-input-box">
                <p class="check-question"> 7) Do you have a premium membership on any of these platforms? </p>
                <div class="radio-box">
                    <label class="custom-radio">
                        <input type="radio" name="question7" value="yes" class="circle-radio">
                        <span class="radio-mark"></span>
                        Yes
                    </label>
                    <label class="custom-radio">
                        <input type="radio" name="question7" value="no" class="circle-radio">
                        <span class="radio-mark"></span>
                        No
                    </label>
                </div>
                <nu class="warning" id="warning7" hidden> This field is required </nu>
            </div>

            <div class="text-input-box">
                <p class="question">8) What is your favorite feature from this type of membership?</p>
                <input type="text" class="text-input" name="question8">
                <nu class="warning" id="warning8" hidden> This field is required </nu>
            </div>

            <div class="text-input-box">
                <p class="question">9) Is there any feature you would like this platform to introduce for its premium
                    users? </p>
                <input type="text" class="text-input" name="question9">
                <nu class="warning" id="warning9" hidden> This field is required </nu>
            </div>

            <div class="text-input-box">
                <p class="check-question"> 10) Do you download music so you can listen to it without an internet
                    connection? </p>
                <div class="radio-box">
                    <label class="custom-radio">
                        <input type="radio" name="question10" value="yes" class="circle-radio">
                        <span class="radio-mark"></span>
                        Yes
                    </label>
                    <label class="custom-radio">
                        <input type="radio" name="question10" value="no" class="circle-radio">
                        <span class="radio-mark"></span>
                        No
                    </label>
                </div>
                <nu class="warning" id="warning10" hidden> This field is required </nu>
            </div>

            <div class="text-input-box">
                <p class="check-question"> 11) Do you buy music on physical formats (CDs, vinyls... etc)? </p>
                <div class="radio-box">
                    <label class="custom-radio"> <input type="radio" name="question11" value="option1"
                            class="circle-radio"> <span class="radio-mark"></span> Yes, regularly </label>
                    <label class="custom-radio"> <input type="radio" name="question11" value="option2"
                            class="circle-radio"> <span class="radio-mark"></span> Ocasionally </label>
                    <label class="custom-radio"> <input type="radio" name="question11" value="option3"
                            class="circle-radio"> <span class="radio-mark"></span> Rarely </label>
                    <label class="custom-radio"> <input type="radio" name="question11" value="option4"
                            class="circle-radio"> <span class="radio-mark"></span> Never </label>
                </div>
                <nu class="warning" id="warning11" hidden> This field is required </nu>
            </div>

            <div class="text-input-box">
                <p class="check-question"> 12) Do you attend live concerts? </p>
                <div class="radio-box">
                    <label class="custom-radio"> <input type="radio" name="question12" value="option1"
                            class="circle-radio"> <span class="radio-mark"></span> Yes, frequently</label>
                    <label class="custom-radio"> <input type="radio" name="question12" value="option2"
                            class="circle-radio"> <span class="radio-mark"></span> From time to time </label>
                    <label class="custom-radio"> <input type="radio" name="question12" value="option3"
                            class="circle-radio"> <span class="radio-mark"></span> Only for my favorite artists </label>
                    <label class="custom-radio"> <input type="radio" name="question12" value="option4"
                            class="circle-radio"> <span class="radio-mark"></span> No </label>
                </div>
                <nu class="warning" id="warning12" hidden> This field is required </nu>
            </div>

            <div class="range-input-box">
                <p class="question">13) Finally, please rate your experience with this survey (aesthetics, accesibility,
                    clarity of questions...) and leave any suggestions you have for its improvement. </p>
                <div class="range-box">
                    <input type="range" min="0" max="10" step="1" class="slider" id="range2" name="question13">
                    <label class="value" id="value2" for="range2"></label>
                </div>
                <nu class="warning" id="warning13" hidden> This field is required </nu>
                <input type="text" class="text-input-final" name="comment">
            </div>

            <button class="save-button" type="submit">Send</button>
            <nu class="finalWarning" id="finalWarning" hidden> Some fields still need to be filled </nu>
        </form>

    </div>
    <p class="footer"> From the desk of <a href="https://github.com/daniherurb" target="_blank"
            style="text-decoration: none;"> <u>@daniherurb</u></a></p>
</body>

</html>